.header {
  background-color: blue;
  grid-area: h;
}
.main {
  background-color: green;
  grid-area: m;
}
.aside {
  background-color: red;
  grid-area: a;
}
.footer {
  background-color: yellow;
  grid-area: f;
}
.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'h h h'
  'm m a'
  'm m a'
  'f f f';
}
