body {
  height: 400vh;
}
.parent {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-block: 5rem;
  background-color: cadetblue;
  position: relative;
  /* left
    right
    top
    bottom*/
}

.child {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 1px solid black;
  position: absolute;
}
.sticky {
  width: 50px;
  height: 50px;
  background-color: red;
  position: sticky;
  top: 50px;
}
